<div class="m-4 text-center" >

    <h3 class="text-center">About Page</h3>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sapiente soluta accusamus harum, alias ut repudiandae voluptatem possimus magni suscipit numquam nulla, fugiat iusto illo veritatis eos exercitationem repellendus? Labore facilis saepe distinctio aliquid nam, laboriosam, similique ex nemo commodi doloremque animi praesentium deserunt recusandae aliquam alias assumenda at minima iste! Ea deserunt doloremque velit voluptate assumenda nulla, distinctio vel cupiditate maiores voluptas neque, vero, quis architecto laudantium saepe enim quibusdam eaque! Sint laudantium culpa voluptatibus, non amet at quod quia, pariatur error repellendus consequuntur, doloribus fuga harum magnam.</p>
    
    <button class="btn btn-primary "><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white" style="text-decoration: none">Back</a></button>
    
</div>
