<section class="login">
  <div class="login_box">
    <div class="left">
      <div class="contact">
        <button class="submit" (click)="login()">Sign In With Google</button>
        <p>{{getInfo()}}</p>
        <button class="submit" *ngIf="getInfo()" routerLink="/dashboard">Get Info</button>
      </div>
    </div>
    <div class="right">
      <div class="right-text">
        <h2>Kochar Tech</h2>
        <h6>ENHANCING CUSTOMER EXPERIENCE THROUGH TECHNOLOGY</h6>
      </div>
    </div>
  </div>
</section>