/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  input {
    border: none;
    outline: none;
  }
  img {
    width: 100%;
  }
  body {
    line-height: 1.2;
  }
  
  .login {
    height: 100vh;
    width: 100%;
    background: radial-gradient(#653d84, #332042);
    position: relative;
  }
  .login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
  }
  .login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
  }
  .login_box .right {
    width: 59%;
    height: 100%;
  }
  .left .top_link a {
    color: #452a5a;
    font-weight: 400;
    text-decoration: none;
  }
  .left .top_link {
    height: 20px;
  }
  .left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
  }
  .left h3 {
    text-align: center;
    margin-bottom: 40px;
  }
  .left input {
    border: none;
    width: 80%;
    margin: 13px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  .left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
  }
  .submit {
    border: none;
    padding: 15px 45px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  }
  
  .right {
    background: linear-gradient(
        212.38deg,
        rgba(242, 57, 127, 0.7) 0%,
        rgba(175, 70, 189, 0.71) 100%
      ),
      url(https://content3.jdmagicbox.com/comp/chennai/j2/044pxx44.xx44.111014105022.s3j2/catalogue/kochar-info-tech-pvt-ltd-ambattur-industrial-estate-chennai-bpo-2la01uz-250.jpg);
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
  }
  .right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  .right-text h6 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
  }
  
  .right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
  }
  .top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .newUser {
    position: absolute;
    bottom: 15%;
    left: 3.4rem;
    text-decoration: none;
    font-size: 14px;
    color: rgb(166, 7, 166);
  }
  .signinUser {
    position: absolute;
    bottom: 5%;
    left: 2.5rem;
    text-decoration: none;
    font-size: 14px;
    color: rgb(166, 7, 166);
    margin-bottom: -20px;
  }
  .error{
    color:red;
    font-size: 14px;
    margin-top: -10px;
  }